body {
  /* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	 */
  font: 100%/1.5 system-ui;
  max-width:100ch;
  margin-inline:auto;
  padding-inline: 1em;
 
}

:root {
    --color-accent: oklch(42.232% 0.07674 224.882);
}

nav {
    display: flex;
    margin-bottom: 1em;
    border-bottom-width: 1px ;
    border-bottom-style: solid ;
    border-bottom-color: oklch(80% 3% 200) ;
    background-color: oklch(from var(--color-accent) 95% 5% h);
}

nav a {
    flex: 1;
    text-decoration : none;
    color : inherit;
    text-align : center;
    padding : 0.5em;
}

nav a.current {
  border-bottom : 0.4em solid var(--color-accent);
  padding-bottom: 0.1em;
}


nav a:hover {
    border-bottom: 0.4em solid var(--color-accent);
}

form input, form textarea, form button { font : inherit;}

form  {display:grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

form label {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;}

form button { grid-column: 1 / -1;}

.projects {display:grid;
  grid-template-columns:repeat(auto-fill, minmax(15em, 1fr));
  gap:1em;}

.projects article {display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;}

.projects h2 {margin:0;}

h1 {font-size:400%;}

h1, h2, h3, h4, h5, h6 {line-height: 1.1; text-wrap: balance;}

/****************Step 5: Style you CV ***************/

/* About Me: Align text evenly along both edges */
.resume section:first-of-type p { text-align: justify; }

/* Overall CV Layout: Set maximum width and center the content */
.resume { max-width: 75ch; margin-inline:auto;}

/* Main CV Title: Adjust size and bottom spacing */
.resume h1 { font-size: 300%; margin-bottom: 0.5em; }

/* Section Titles: Add accent color and underline */
.resume h2 { color: var(--color-accent); 
  border-bottom: 1px solid currentColor; 
  padding-bottom: 0.25em; 
  margin-top: 1.5em; }

/* Job Titles and Degree Titles: Adjust spacing and text color */
.resume h3 { margin-bottom: 0.1em; color: #227a8ed7; }

/* Institution Names: Use italic text and a different color */
.resume h4 {font-style: italic; color:  #71b0bed7;}

/* Experience and Education entries: Add space between entries */
.resume article  { margin-bottom: 1.5em; }

/* Paragraphs within entries: reduce spacing around paragraphs */
.resume article p { margin-top: 0.2em; margin-bottom: 0.2em; }

/* Institution Names Within Entries: Adjust vertical spacing */
.resume article h4 { margin-top: 0.2em; margin-bottom: 0.2em; }



